html {
  height: 100%;
  width: 100%;
}



body { 

background-color: #f2ddfe;



}


.Sign_inTitle {
    font-family: Henny Penny;
    color:black;
    vertical-align: baseline;
    font-size: 3em;
    margin-left: 25%;
    margin-bottom: 50px;
}



.leftSide {
    background-color: #E2B4FC;
    width: 49%;
    height: 100vh;
}
.myLogo img {
    margin-top: 30px;
    width: 80px;
    height: 70px;
}
.myLogo h1 {
    
    font-family: Henny Penny;
    color:black;
    vertical-align: baseline;
    font-size: 4em;
    margin-left: 0%;
    margin-bottom: -15px;
}
.myLogo {
    margin-left: 12%;
    display: flex;
    align-items: center;
}

.CatLayingDown { 
  position: relative;
  width: 30%;
  margin-top: -55%;
  margin-right: -30%;
  z-index: 200;
}




.CatLookingUp {
  position:relative;
  width: 40%;
  position: relative;
   transform: translatex(-140%);
  margin-top: 9%;           /* Add additional spacing */
}



.circle {
    width: 75%;               
    height: 75%;              
    border: 5px solid black;    
    border-radius: 60%;        
    background-color: #f2ddfe;   
    margin-top: 3%;
    margin-left: 10%;          
    display: block;  
    text-align: center;        
  }
  
  .cuteCat {
    width: 100%;                
    height: 100%;              
    border-radius: 50%;         
    object-fit: cover;          
  }

.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;  
  }
  
  .leftSide {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
  }
  
  .myLogo {
    text-align: center;
  }
  

  
  .rightSide {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .form-container {
    width: 100%;
    max-width: 400px;  
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .formheaders { 
    color: black;
    text-shadow: #E2B4FC;
    font-weight: normal;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    border-radius: 100px;
  }
  
  .login-form label {
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .login-form input {
    padding: 2px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 100px;
    font-size: 17px;
  }
  
  .login-form button {
    padding: 10px;
    background-color: #E2B4FC;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #2876c9;
  }
  
  .google-button-container .gsi-material-button {
    background-color: #cacaca; 
    border-radius: 100px black;
    color: #fffcfc;
    margin-left: 24%;
}

  /* adjusting for mobile devices */ 
  /* adjust later */
  

  
  @media screen and (max-width: 768px) { 

    .leftSide {
        background-color: #E2B4FC;
        width: 49%;
        height: 100vh;
    }
    



  }
  